.App{
    font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #F4F5FA;

}

header{

    box-shadow: none;
    background-image: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    position: sticky;
    z-index: 1100;
    top: 0;
    left: auto;
    right: 0;
    transition: none 0s ease 0s;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0 1.5rem;
    background-color: transparent;
    color: rgba(58, 53, 65, 0.87);
    min-height: 64px;
}

footer {

    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    margin-left: 1.25rem;

    div {
        display: flex;
        flex-wrap: wrap;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;

        p {
            margin: 0px 0.5rem 0px 0px;
            letter-spacing: 0.15px;
            font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.5;
            color: rgba(58, 53, 65, 0.87);
        }

        span {
            color: rgb(255, 76, 81);
        }

        a {
            text-decoration: none;
            color: rgb(145, 85, 253);
        }
    }
}



